@use '../../styles/vars';
@use '../../styles/reset';

.header {
  padding-top: vars.$gutter;
  padding: vars.$gutter;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // font-size: calc(10px + 2vmin);
  font-size: 16px;
  letter-spacing: 2.7px;
  font-family: 'Barlow Condensed', sans-serif;
  color: vars.$mainColor;
  position: fixed;
  top: 20px;
  width: 100%;

  &__left {
    display: flex;
    width: 50%;

    &__logo {
      padding: vars.$gutter;
    }
    &__divider {
      padding: vars.$gutter;
      padding-right: 2* vars.$gutter;
      width: 80%;
      height: 10px;
      border-bottom: 1px solid vars.$secondaryColor;
    }
  }
  &__nav {
    display: flex;
    justify-content: center;
    padding: vars.$gutter;
    height:4* vars.$gutter;
    width: 50%;
    backdrop-filter: blur(15px);
    //ul
    &__menu{
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      &--item {
        margin-right: vars.$gutter;
        font-size: 1rem;
        text-transform: uppercase;
      }
    }
    
  }
    
}
  .active {
    text-decoration: underline;
  }