@use '../../styles/vars';
@use '../../styles/reset';

.header {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  letter-spacing: 2.7px;
  font-family: 'Barlow Condensed', sans-serif;
  color: vars.$mainColor;
  position: fixed;
  top: 20px;
  width: 100%;
  padding-right: 10% 0;

  @media(max-width:650px){
    text-align: center;
    padding-left: 5%;
    width: 100%;
  }
  
  &__left {
    display: flex;
    flex-grow: 2;
    padding-right:2* vars.$gutter;
    @media(max-width:650px){
      justify-content: space-between;
    }
    
    &__logo {
      padding: vars.$gutter;
    }
    &__divider {
      padding: vars.$gutter;
      padding-right: 2* vars.$gutter;
      width:100%;
      height: 10px;
      border-bottom: 1px solid vars.$secondaryColor;
      @media(max-width:768px){
        display: none;
      }
    }
  }
  &__nav {
    display: flex;
    justify-content: center;
    height:4* vars.$gutter;
    min-width: 50%;
    width: auto;
    font-weight: 200;
    backdrop-filter: blur(25px);
    background-color: rgba(89, 89, 89, 0.133);
    @media(max-width:768px){
      width: 60%;
      padding-left: vars.$gutter;
    }
    @media(max-width:650px){
      height: 100vh;
      width:7* vars.$gutter ;
      flex-direction: column;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      margin-top: -1* vars.$gutter;
      padding-left: vars.$gutter;
      padding-top: 3* vars.$gutter;
    }
    // button close mobile navbar
    &--close {
      visibility: hidden;
      @media(max-width:650px){
        visibility: visible;
        background-color: 0;
        font-size: 2.5* vars.$gutter;
        background:none;
        border: none;
        display: block;
        color: vars.$secondaryColor;
        background-color: none;
        width:1.5* vars.$gutter;
        height: 1.5* vars.$gutter;
        position: absolute;
        top:34px;
        right: 42px;
      }
    }
    // Burger menu open navbar mobile
    &--open {
      visibility: hidden;
      @media(max-width:650px){
        visibility: visible;
        background-color: 0;
        font-size: 2* vars.$gutter;
        background:none;
        border: none;
        display: block;
        color: vars.$secondaryColor;
        background-color: none;
        margin-right: 2%;
        flex-grow: 1;
      }
    }
    //ul
    &__menu {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%; 
      @media(max-width:650px){
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top:2* vars.$gutter;
      }
      &--li{
        display: flex;
      }
      &--item {
        margin-right: vars.$gutter;
        font-size: 1rem;
        text-transform: uppercase;
        @media(max-width:650px){
          text-align: left;
          margin-right: 0;
          margin-top:2* vars.$gutter;
          width: 100%;
        }
        &:hover {
        text-decoration: underline;
        text-underline-offset: 1.5* vars.$gutter;
        text-decoration-color: grey;
        text-decoration-thickness: 3px;
        @media(max-width:650px){
          text-decoration: none;
        }
        }
      }
    }
  }
}
.span {
  font-weight: 900;
  @media(max-width:768px){
    display: none;
  }
  @media(max-width:650px){
    display:flex;
    flex-wrap: nowrap;
  }
}
  .active {
    text-decoration: underline;
    text-underline-offset: 1.5* vars.$gutter;
    text-decoration-thickness: 3px;
    @media(max-width:650px){
      text-decoration: none;
    }
  }
  pre {
    display: flex;
  }