@use '../../styles/vars';
@use '../../styles/reset';

.technology {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    padding-left: 6rem;
    background-image: url('../../../public/assets/technology/background-technology-desktop.jpg');
    @media(max-width:768px){
        
    }
    @media(max-width:650px){
        
    }
    &__h5 {
        text-align: left;
        width: 100%;
        margin-top: 10rem;
        color:vars.$mainColor;
        font-size: 32px;
        font-family: 'Barlow Condensed', sans-serif;
        font-weight: 300;
        text-transform: uppercase;
    }
    &__infos {
        display: flex;
        justify-content: space-between;
        &__container {
            display: flex;
            align-content: center;
            align-items: center;
            // height: 70%;
            // border: 1px solid blue;
            &__nav {
                // margin-top: 3rem;
                height: 250px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                // height: 15rem;
                width: 80px;
                // background-color: antiquewhite;
                
                &--link{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-color: black;
                    color: vars.$mainColor;
                    font-family: 'Bellefair', sans-serif;
                    font-size: 24px;
                    border: 2px solid grey;
                    &:hover{
                        border: 2px solid vars.$mainColor;
                    }
                }
            }
            &__data {
                height: 300px;
                // border: 1px solid blue;
                margin-top: 3rem;
                // width: 60%;
                text-align: left;
                font-family: 'Barlow Condensed', sans-serif;
                &__h4 {
                    font-size: 28px;
                    font-weight: 100;
                    text-transform: uppercase;
                    color: vars.$secondaryColor;
                    margin-bottom: 1rem;
                }
                &--name {
                    font-family: 'Bellefair', sans-serif;
                    text-transform: uppercase;
                    font-size: 56px;
                    width: max-content;
                    margin-bottom: 1rem;
                }
                &--desc {
                    width: 450px;
                    font-weight: 100;
                    font-size: 24px;
                    font-weight: 200;
                    text-transform: none;
                    color: vars.$secondaryColor;
                }
            }
        }
        &__img {
            // border:1px solid aqua;
            width: fit-content;
            // height: 70%;
            text-align: right;
            &--pic {
                width: 100%;
                object-fit: scale-down;
            }
        }
    }
    
}

.activeTec {
    color: black;
    background-color: vars.$mainColor;
    border: none;

}