@use '../../styles/vars';
@use '../../styles/reset';

.technology {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    padding-left: 6rem;
    background-image: url('../../../public/assets/technology/background-technology-desktop.jpg') ;
    background-size:cover;
    width: 100vw;
    @media(max-width:768px){
        background-image: url('../../../public/assets/technology/background-technology-tablet.jpg');
        padding-left: 0;
        height: auto;
    }
    @media(max-width:650px){
        background-image: url('../../../public/assets/technology/background-technology-mobile.jpg') ;
        justify-content: center;
        padding-bottom: 2rem;
        width: 100%;
        height: 100vh;
        }
    &__h5 {
        text-align: left;
        width: 100%;
        margin-top: 8rem;
        color:vars.$mainColor;
        font-size: 32px;
        font-family: 'Barlow Condensed', sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        @media(max-width:768px){
            padding-left: vars.$gutter;
            margin:6 *vars.$gutter 0 2rem;
            font-size: 26px;
        }
        @media(max-width:650px){
            display: flex;
            justify-content: center;
            margin-top: 7rem;
        }
    }
    &__infos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media(max-width:768px){
            flex-direction: column-reverse;
        }
        &__container {
            display: flex;
            align-items: center;
            @media(max-width:768px){
                flex-direction: column;
            }
            &__nav {
                height: 250px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 80px;
                @media(max-width:768px){
                    flex-direction: row;
                    width: 40%;
                    height: fit-content;
                    margin: 2rem 0 ;
                }
                @media(max-width:650px){
                    width: 50%;
                }
                &--link{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-color: black;
                    color: vars.$mainColor;
                    font-family: 'Bellefair', sans-serif;
                    font-size: 24px;
                    border: 2px solid grey;
                    @media(max-width:650px){
                        width: 40px;
                        height: 40px;
                    }
                    &:hover{
                        border: 2px solid vars.$mainColor;
                    }
                }
            }
            &__data {
                height: 300px;
                margin-top: 3rem;
                text-align: left;
                font-family: 'Barlow Condensed', sans-serif;
                @media(max-width:768px){
                    margin: 0;
                    text-align: center;
                }
                &__h4 {
                    font-size: 28px;
                    font-weight: 100;
                    text-transform: uppercase;
                    color: vars.$secondaryColor;
                    margin-bottom: 1rem;
                    @media(max-width:768px){
                        font-size: 24px;
                    }
                    @media(max-width:650px){
                        font-size: 20px;
                    }
                }
                &--name {
                    font-family: 'Bellefair', sans-serif;
                    text-transform: uppercase;
                    font-size: 56px;
                    width: max-content;
                    margin-bottom: 1rem;
                    @media(max-width:768px){
                        width: 100%;
                        font-size: 40px;
                    }
                    @media(max-width:650px){
                        font-size: 28px;
                    }
                }
                &--desc {
                    width: 450px;
                    font-weight: 100;
                    font-size: 24px;
                    font-weight: 200;
                    text-transform: none;
                    color: vars.$secondaryColor;
                    line-height: 2rem;
                    @media(max-width:768px){
                        font-size: 20px;
                    }
                    @media(max-width:650px){
                        font-size: 18px;
                        width: 90%;
                        margin: auto;
                        padding:0  2rem ;
                    }
                }
            }
        }
        &__img {
            height: fit-content;
            text-align: right;
            @media(max-width:650px){
                width: 100%;
            }
            &--pic {

                @media(max-width:650px){
                    width: 100%;
                }
            }
        }
    }
}

.activeTec {
    color: black;
    background-color: vars.$mainColor;
    border: none;
}