@use '../../styles/vars';
@use '../../styles/reset';

.destination {
    display: flex;
    // justify-content: space-around;
    align-items: flex-end;
    font-family: 'Bellefair', serif;
    text-transform: uppercase;
    height: 100vh;
    background-image: url('../../../public/assets/destination/background-destination-desktop.jpg');
    background-size:cover;
    @media(max-width:768px){
        background-image: url('../../../public/assets/destination/background-destination-tablet.jpg');
    }
    @media(max-width:650px){
        background-image: url('../../../public/assets/destination/background-destination-mobile.jpg');
    }
    &__view {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        margin: 3* vars.$gutter vars.$gutter;
        padding:vars.$gutter ;
        height: fit-content;
        min-height: 70%;
        // background-color: rgb(67, 68, 68);
        &__h5 {
            display: flex;
            align-self: flex-start;
            width: 100%;
            font-family: 'Barlow Condensed', sans-serif;
            font-size: 25px;
            color:vars.$mainColor;
            // background-color: rebeccapurple;
        }
        &--img {
            display: flex;
            max-width: 100%;
            max-height: 100%;
        }
    }
    
    &__info {
        padding: 2* vars.$gutter vars.$gutter;
        display: flex;
        flex-direction: column;
        max-width: 50%;
        height: fit-content;
        margin: 3* vars.$gutter vars.$gutter;
        // background-color: rgb(43, 43, 41);
        @media(max-width:768px){

        }
        @media(max-width:650px){
           
        }
        &--nav {
            //subcomponent
        }
        &--name {
            // background-color: red;
            font-size: 6* vars.$gutter;
        }
        &--desc {
            color: vars.$secondaryColor;
            padding-bottom: 3rem;
            border-bottom: 1px solid #383B4B;
        }
        &__travel {
            display: flex;
            // justify-content: flex-start;
            text-align: left;
            padding-top: 1rem;
            color: vars.$mainColor;
            font-size: 28px;
            &__p {
                text-transform: uppercase;
                color: vars.$secondaryColor;
                font-size: 12px;
                padding: 1rem 0;
            }
            &--dist {
                width: 50%;
            }
            &--time {
                width: 50%;
            }
        }
    }
    
}
.span {
    font-weight: bold;
    color: vars.$secondaryColor;
}