@use '../../styles/vars';
@use '../../styles/reset';

.destination {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-family: 'Bellefair', serif;
    text-transform: uppercase;
    height: 100vh;
    background-image: url('../../../public/assets/destination/background-destination-desktop.jpg');
    background-size:cover;
    @media(max-width:768px){
        background-image: url('../../../public/assets/destination/background-destination-tablet.jpg');
    }
    @media(max-width:650px){
        background-image: url('../../../public/assets/destination/background-destination-mobile.jpg');
    }
    &__view {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        // background-color: azure;
        width: 50%;
        margin: 3* vars.$gutter;
        height: 70%;
        &__h5 {
            display: flex;
            align-self: flex-start;
            width: 100%;
            font-family: 'Barlow Condensed', sans-serif;
            font-size: 25px;
            color:vars.$mainColor;
            // background-color: rebeccapurple;
        }
        &--img {
            // background-color: bisque;
            // display: flex;
            // align-content: center;
            // align-items: center;
            // justify-content: center;
            width: 100%;
            height: auto;
        }
    }
    
    &__info {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 50%;
        &--nav {
            //subcomponent
        }
        &--name {
            // background-color: red;
            font-size: 6* vars.$gutter;
        }
        &--desc {
            color: vars.$secondaryColor;
        }
    }
    
}
.span {
    font-weight: bold;
    color: vars.$secondaryColor;
}